:root{
    --cor-de-fundo: #000000;
    --branco: #ffffff;
}

body{
    background-color: var(--cor-de-fundo);
}

.titulo-principal{
    color: var(--branco);
    text-align: center;
    font-size: 28px;
}

.gato{
    margin: 0 850px;
    width: 10%;
}


.intro-titulo{
    color: var(--branco);
    text-align: center;
    font-size: 30px;
    font-weight: 700;
}

.intro{
    color: var(--branco);
    text-align: center;
}

.rural{
    width: 50%;
    margin: 0 500px;
}

.parana{
    color: var(--branco);
    text-align: center;
    font-size: 30px;
}

.tan{
    color: var(--branco);
    text-align: center;
}

.tom{
    color: var(--branco);
    text-align: center;
}

.tri{
    color: var(--branco);
    text-align: center;
}

.trit{
    color: var(--branco);
    text-align: center;
}

.um{
    color: var(--branco);
    text-align: center;
}