:root{
    --cor-de-fundo: #000000;
    --branco: #ffffff;
}

body{
    background-color: var(--cor-de-fundo);
}

.titulo-principal{
    color: var(--branco);
    text-align: center;
    font-size: 28px;
}

.gato{
    width: 20%;
    margin: 0 750px;
}


.intro-titulo{
    color: var(--branco);
    text-align: center;
    font-size: 30px;
    font-weight: 700;
}

.intro{
    color: var(--branco);
    text-align: center;
}

.rural{
    width: 50%;
    margin: 0 500px;
}

.parana{
    color: var(--branco);
    text-align: center;
    font-size: 30px;
}

.parana2{
    color: var(--branco);
}