:root{
    --cor-de-fundo: #000000;
    --branco: #ffffff;
}

body{
    background-color: var(--cor-de-fundo);
}

.titulo-principal{
    color: var(--branco);
    text-align: center;
}

.gato{
    width: 20%;
    margin: 0 750px;
}

